html {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  height: 100%;
}


body {
  font-family: sans-serif;
  max-width: 920px;
  margin: 0 auto;
  padding: 1rem;
  max-width: 45rem;
  min-height: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html { background: #1c1c1c; color: white; }
  a { color: #6bf; }
  a:visited { color: #f8f; }
  a:active { color: red; }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 10px;
}

.no-dot {
  list-style-type: none;
}

header a,
header h1,
header h2,
header h3 {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.flex-right {
  display: flex;
  margin-left: auto;
  vertical-align: baseline;
}

.pagination li,
header nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}

.subtitle {
  margin-left: 5px;
}

.main,
header,
footer {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.pad-l-5px {
  padding-left: 5px;
}

.pad-r-5px {
  padding-right: 5px;
}

/* toc */

.toc-box {
  border: 1px solid black;
  padding: 5px;
}

toc {
  display: none;
}

toc li {
  list-style-type: none;
}

toc ul {
  margin-left: 0px;
  padding-left: 0;
}

toc ul ul {
  margin-left: 0px;
  padding-left: 15px;
}

.article-list {
    flex-grow: 1;
}

.article-list .article {
    margin-bottom: 8px;
}

.article-list .date {
  display: block;
}

article {
  margin: 0 auto;
  max-width: 780px;
  line-height: 1.3;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

h1 small {
    display: block;
    font-size: 1rem;
}
