{{define "main"}}
<div class="main">

	<!--_index.md-->
	{{if not .IsHome}}
<!-- 	{{with .Title}}
	<div>
		<heading>{{.}}</heading>
	</div>
	{{end}} -->
	{{with .Content}}
	<div>
		<article>{{.}}</article>
	</div>
	{{end}}
	{{end}}

	<!--$paginator-->
	{{$p := .Pages}}
	{{if .IsHome}}
	{{$p = where site.RegularPages "Type" "posts"}}
	{{else if eq .Kind "taxonomy"}}
	{{$p = $p.ByTitle}}
	{{end}}
	{{$paginator := .Paginate $p}}
	
	<br>
	<hr>
	<br>
	<!--list-->
	<section class="article-list">
		<div id="post-content">
		{{ .Content }}
		</div>
		{{range $paginator.Pages}}
		  <div class="article">
			  {{- $pubdate := .PublishDate.Format "2006-01-02" }}
			  <span class="date">
			      {{ $pubdate }} — <a href="{{.RelPermalink}}">{{.Title}}</a>

			  <!-- Last Updated Date -->
<!-- 			  {{- if .Lastmod }}
			      {{- $lastmod := .Lastmod.Format "Jan 2, 2006" }}
			      {{- if ne $lastmod $pubdate }}
			              (Updated: {{ $lastmod }})
			      {{- end }}
			  {{- end }} -->
			  </span>
			  
		</div>
		{{end}}
	</section>
	<br>
	<hr>
	<br>

	<!--pagination-->
	{{template "_internal/pagination.html" .}}
</div>
{{end}}